<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {{# current_post }}{{ current_post.title }}{{/ current_post }}
    {{^ current_post }}{{ cosmic.object.header.metadata.site_title }}{{/ current_post }}
  </title>
  <link rel="stylesheet" type="text/css" href="/flexboxgrid.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <header class="header">
    <div class="stars"></div>
    <img class="moon" src="https://cosmicjs.com/uploads/2acfde40-367c-11e7-9161-61cd2f0acd2a-full-moon-min.png" alt="Moon" />
    <h1 class="site-title">
      <a href="/">{{ cosmic.object.header.metadata.site_title }}</a>
    </h1>
    <p>A trivial blog about siginificantly substantial subjects.</p>
    <div>
      {{^ cosmic.objects.type.posts }}
        You must add at least one Post to your Bucket.
      {{/ cosmic.objects.type.posts }}
    </div>
  </header>
