/*CSS Clear*/
html, body, ul, ol, li, form, fieldset, legend {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
li { list-style: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}
input, textarea, select {
	font-size: 110%;
	line-height: 1.1;
}
abbr, acronym {
	border-bottom: .1em dotted;
	cursor: help;
}

/*Global*/
html, body {
  background-color: #347AC7;
}
h1, h2, h3, h4, h5, h6 {
  color: #4c0b2f;
}
h1, h2, h3, h4, h5, h6, a, p, span, .blog__author-title {
  font-family: 'Roboto', sans-serif !important;
}
a {
  text-decoration: none;
  color: #2F1A55;
  cursor: pointer;
}
p {
  color: #252525;
}
p span {
  font-size: 1em !important;
  color: #252525 !important;
  background-color: #6CD3fc !important;
}
.flat-btn {
  display: inline-block;
  text-transform: uppercase;
  padding: .2em;
}
.flat-btn:hover {
  background-color: #347AC7;
  color: #6CD3fc;
}

/* Header */
header {
  position: relative;
  text-align: center;
  padding: 1em 0;
  background: #2F1A55;
  background-image: linear-gradient(#2F1A55, #2F1A55, #347AC7);
}
header img.moon {
  position: absolute;
  top: -215px;
  left: -150px;
}
header h1 {
  margin: 4em 0 .25em 0;
  font-size: 4em;
}
header h1 a, header h1 a:hover, header p {
  color: #D3F1F4;
}

/*Posts*/
.card {
  margin: 2em 0;
  background-color: #6CD3fc;
  border-radius: 5px;
  box-shadow: 2px 3px 4px #2f1f5b;
}
.card-padding {
  padding: .625em;
}
.card-padding h2 {
  margin: 0;
}
.card-padding .blog__author {
  margin-bottom: 1em;
}

/*Stars*/
@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }
  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}
.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 90s infinite linear;
}

.star {
  width: 2px;
  height: 2px;
  background: #F7F7B6;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -300px;
  transform: translate3d(0, 0, -300px);
  backface-visibility: hidden;
}
