/* Global */
body {
  background: #fafafa;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: rgba(0,0,0,.8);
}
h1, h2 {
  margin: 0;
}
a {
  color: #00ab6b;
  text-decoration: none;
}
/* helpers */
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
/* Fonts */
.droid {
  font-family: 'Droid Serif', serif;
}
/*Grid*/
.container {
  width: 90%;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
/*Cards*/
.card {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #000;
  width: 300px;
}
